@use "forwards" as *;
body {  
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    @include flex-jc-c-ai-c;
    background-color: $light-gray;
    
    .card {
        width: 38vw;
        min-height: 50vh;
        background-color: $white;
        border-radius: 0.625rem;

        .title {
            text-align: center;
            letter-spacing: 2px;
        }

        .form {
            @include flex-jc-c-ai-c;

            .form__list {
                min-width: 21.875rem;
                height: 1.875rem;
                border-width: 0 0 2px;
                border-color: $gray;
                outline: none;
                margin-left: 1.25rem;
            }
    
            .button__add {
                width: 6.25rem;
                height: 2.190rem;
                margin: 0.625rem;
                background-color: $aqua;
                border: none;
                border-radius: 3px;
                font-size: 1.25rem;
                letter-spacing: 2px;
            }
        }

        .card__error {
            @include flex-jc-c-ai-c;
            color: $red;
            font-size: 0.815rem;
            height: 1.565rem;
        }

        #card__list {
            min-height: 50vh;
            padding-left: 3.125rem;
            @include flex-fd-c;
        }

        .footer {
            @include flex-jc-c-ai-c;

            &__button {
                width: 5rem;
                background: none;
                border-width: 0 0 2px;
                margin: 0.625rem 0 0.625rem 0;
                font-size: 1.125rem;
            }
        }
    }
}